[Unit]
Description=Alu-Technika RPI KIOSK internet watchdog
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rpi-kiosk-netwatch
Restart=on-failure
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
